.tuile__img {
	aspect-ratio: 2 / 3;

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
	}
}
.tuile__img:hover {
	opacity: 0.9;
}

.liste__info {
	padding-left: var(--espace-1);
	padding-right: var(--espace-1);
	text-align: center;
	padding: var(--espace-half) var(--espace-1);

	p {
		margin-top: var(--espace-half);
	}
}
