.commenter {
	display: flex;
	/* flex-direction: column; */
	flex-wrap: wrap;
	gap: var(--espace-1);
	flex: 1;
	margin-top: var(--espace-2);
	padding: 0 var(--espace-2);
	align-items: start;
	/* max-width: max(var(--width-mobile), 50vw); */

	/* .commentaire__titre {
		background-color: var(--coul-texte);
		color: var(--coul-tertiary);
		font-family: var(--police-titre);
		font-size: var(--text-sm);
		letter-spacing: 1px;
		text-transform: uppercase;
		text-align: center;
		padding: var(--espace-3quarts);
	} */

	.commenter__textarea {
		padding: var(--espace-half);
		width: 100%;
	}
}
