.tri {
	background-color: var(--coul-texte);
	color: var(--coul-tertiary);
	flex: 1;
	display: flex;
	align-items: center;
	min-width: var(--width-mobile);

	.tri__titre {
		color: var(--coul-primary);
		font-family: var(--police-titre);
		font-size: var(--text-sm);
		letter-spacing: 1px;
		text-transform: uppercase;
	}
}

.filtre {
	.filtre-item {
		display: flex;
		position: relative;
		cursor: pointer;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		align-items: center;
		justify-content: space-between;
		border-bottom: 1px solid var(--coul-texte);
	}

	.filtre-item:hover {
		background-color: var(--coul-tertiary);
		opacity: 0.9;
	}

	input[type="radio"] {
		accent-color: var(--coul-primary);
		height: 20px;
		width: 20px;
		border-bottom-color: var(--coul-tertiary);
		cursor: pointer;
	}

	.active {
		font-weight: bold;
	}
}
