.entete__container {
	display: flex;
	flex-wrap: wrap;
	background-color: var(--coul-primary);
	align-items: center;
	justify-content: space-between;

	.entete__nav {
		display: flex;
		align-items: center;

		.entete__menu {
			display: flex;
			align-items: center;
		}
	}
	.entete__form {
		display: flex;
	}
}
