.votes {
	display: flex;
	flex-wrap: wrap;

	.votes__item {
		pointer-events: auto;
		cursor: pointer;
	}

	.votes__item:hover {
		opacity: 0.9;
	}

	.votes__item input {
		position: absolute;
		opacity: 0;
		cursor: pointer;
		height: 0;
		width: 0;
	}

	.votes__stars {
		display: flex;
		align-items: center;
	}
}
