.entete__container {
	display: flex;
	flex-direction: column;
	background-color: var(--coul-primary);
	gap: var(--espace-half);
	padding: var(--espace-1);

	.entete__nav {
		display: flex;
		align-items: center;

		.entete__menu {
			display: flex;
			margin-left: var(--espace-2);
			gap: var(--espace-half);
		}
	}
	.entete__form {
		display: flex;
		gap: var(--espace-1);
	}
}
