.catalogue {
	display: flex;
	flex-direction: column;

	.catalogue__liste {
		display: flex;
		flex-wrap: wrap;
		flex: 1;

		.tuile {
			display: flex;
			flex: calc(var(--width-mobile) / 2 - var(--espace-quart));
			flex-grow: 0;
		}
	}
}

@media screen and (min-width: 1024px) {
	.catalogue {
		flex-direction: row;
		flex-wrap: wrap;
		gap: var(--espace-2);
	}
}
