.catalogue {
	display: flex;
	flex-direction: column;

	.catalogue__tri {
		background-color: var(--coul-texte);
		color: var(--coul-tertiary);
		padding: var(--espace-3quarts);
		flex: 1;
	}

	.catalogue__liste {
		display: flex;
		flex-wrap: wrap;
		gap: var(--espace-half);
		flex: 1;

		.liste__tuile {
			display: flex;
			flex: calc(var(--width-mobile) / 2 - var(--espace-quart));

			flex-grow: 0;
			margin-bottom: var(--espace-1);

			.liste__containerImg {
				aspect-ratio: 2 / 3;

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
					object-position: center;
				}
			}

			.liste__info {
				padding-left: var(--espace-1);
				padding-right: var(--espace-1);
				text-align: center;
				padding: var(--espace-half) var(--espace-1);

				p {
					margin-top: var(--espace-half);
				}
			}
		}
	}
}

@media screen and (min-width: 1024px) {
	.catalogue {
		flex-direction: row;
		flex-wrap: wrap;
		gap: var(--espace-2);

		padding-right: var(--espace-1);
	}
}
