.catalogue {
	display: flex;
	flex-direction: column;

	.catalogue__tri {
		background-color: var(--coul-texte);
		color: var(--coul-tertiary);
		padding: var(--espace-3quarts);
		flex: 1;
	}

	.catalogue__liste {
		display: flex;
		flex-wrap: wrap;
		gap: var(--espace-half);
		flex: 1;

		.tuile {
			display: flex;
			flex: calc(var(--width-mobile) / 2 - var(--espace-quart));

			flex-grow: 0;
			margin-bottom: var(--espace-1);
		}
	}
}

@media screen and (min-width: 1024px) {
	.catalogue {
		flex-direction: row;
		flex-wrap: wrap;
		gap: var(--espace-2);

		padding-right: var(--espace-1);
	}
}
