.btn {
	font-family: var(--police-titre);
	font-size: var(--text-sm);
	color: var(--coul-texte);
	letter-spacing: 1px;
	text-transform: uppercase;
	border: 0px;
	pointer-events: auto;
	cursor: pointer;
	padding: var(--espace-3quarts) var(--espace-half);
}

.btn:hover {
	transform: scale(1.1);
}

.btn-primary {
	background-color: var(--coul-primary);
}

.btn-primary:hover {
	text-decoration: underline;
	text-underline-offset: var(--espace-3quarts);
}

.btn-secondary {
	background-color: var(--coul-secondary);
}

.btn-dark {
	background-color: var(--coul-texte);
	color: var(--coul-primary);
}

.btn-dark:hover {
	color: var(--coul-texte);
	background-color: var(--coul-primary);
}

.btn-sm {
	padding: var(--espace-quart);
	background-color: var(--coul-secondary);
	font-size: var(--text-xs);
}
