.btn {
	font-family: var(--police-titre);
	font-size: var(--text-sm);
	color: var(--coul-texte);
	letter-spacing: 1px;
	text-transform: uppercase;
	border: 0px;
	pointer-events: auto;
	cursor: pointer;
}

.btn-primary {
	padding: var(--espace-3quarts);
	background-color: var(--coul-primary);
}

.btn-primary:hover {
	text-decoration: underline;
	text-underline-offset: var(--espace-3quarts);
}

.btn-secondary {
	padding: var(--espace-3quarts);
	background-color: var(--coul-secondary);
}

.btn-dark {
	padding: var(--espace-3quarts);
	background-color: var(--coul-texte);
	color: var(--coul-primary);
}

.btn-dark:hover {
	color: var(--coul-texte);
	background-color: var(--coul-primary);
}
