:root {
	/* la largeur */
	--width-mobile: 375px;
	--width-tablette: 768px;
	--width-ecran: 1024px;

	/* l'espacement */
	--espace-quart: 0.25rem;
	--espace-3quarts: 0.75rem;
	--espace-half: 0.5rem;
	--espace-1: 1rem;
	--espace-1half: 1.5rem;
	--espace-2: 2rem;
	--espace-3: 3rem;
	--espace-4: 4rem;
	--espace-5: 5rem;
	--espace-6: 6rem;
	--espace-8: 8rem;

	/* Les couleurs */
	--coul-primary: #ffc259;
	--coul-secondary: #fffbee;
	--coul-tertiary: #fff;
	--coul-texte: #0f1c30;
	--coul-erreur: #c91111;

	/* Les polices et typographies */
	--police-titre: "Lilita One", serif;
	--police-texte: "Be Vietnam Pro", sans-serif;

	--text-xs: 0.8125rem;
	--text-sm: 1rem;
	--text-md: 1.5rem;
	--text-lg: 2rem;
}
